@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(90deg,  rgb(145, 255, 0) 0%, rgb(145, 255, 0) 35%,rgba(255, 255, 255, 0.5) 100%);
    font-family: 'poppins',sans-serif ;
}

.mx-auto{
    width: 100%;
    width: 350px;
    background-color: white;
    padding: 50px;
    border-radius: 20px;
    margin-top: 150px;
}
.btn-primary{
    width: 100%;
    border: none;
    border-radius: 50px;
    background:  rgb(145, 255, 0) 35%;
    color: black;
    font-weight: bold;
    margin-top: 0;
}
.form-control{
    color: black;
    border-bottom-color: black;
    box-shadow: none !important;
    border: none;
    border-bottom: 1px solid;
    border-radius: 4px 4px 0 0;
}
h4{
    font-size: 2rem !important;
    font-weight: 700;
}
.form-label{
    font-family: 800 !important;
    font-weight: bold;
    margin: 16px 0 0;
}
